<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gitlab AI Assisted - Gitlab Bot</title>
    <style>
     .main input,
     .main textarea {
       font-size: 16px;
       color: #353740;
       display: block;
       width: 800px;
     }
     code {
       font-size: 16px;
       display: pre;
       width: 600px;
       min-height: 300px;
     }
     .main {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 90%;
     }
     .main .icon {
       width: 200px;
     }

    </style>
  </head>
  <body>
    <div class="main">
      <img src="/static/tanuki.svg" class="icon" />
      <h1>Gitlab Documentation Bot</h1>
      <form action="/">
        <textarea rows="3" name="q" cols="100">{{ q }}</textarea>
        <input type="submit" value="Go" />
      </form>
      <h3>{{ q }} :</h3>
      <code>
         {{ result }}
      </code>
    </div>
  </body>
</html>
